
#cn-div {
    @include flex(center, none);
    flex-direction: column;
    padding: 10px;
    width: 60%;
    margin-top: 50px;

    list-style: none;
    box-sizing: border-box; 
    border-radius: 8px;
    border: 1px solid;
    border-bottom: 2px solid;
    border-color: rgb(193,195,196);
    box-shadow: 0px 0px 3px 1px rgb(226,227,227);
    background-color: rgba(255, 255, 255, 0.36);
}

#cn-title-input {
    width: 100%;
    border: none;
    letter-spacing: 0.00625em;
    font-family: $google-sans;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5rem;

    &:focus {
        outline: none;
    }
}

#cn-body-input {
    width: 110px;
    resize: none;
    min-height: 5em;
	max-height: 50vh;
    width: 100%;
    border: none;
    margin-top: 20px;
    outline: none;
    letter-spacing: .01428571em;
    font-family: $google-sans;
    font-size: .875rem;
    font-weight: 400;
    line-height: 1.25rem;

    &::-webkit-scrollbar {
        width: 10px;
    }

    &::-webkit-scrollbar-track {
        background: $white;
    }

    &::-webkit-scrollbar-thumb {
        background: $light-grey;
        border-width: 1px 1px 1px 2px;

        &:hover {
            cursor: pointer;
            background-color: $dark-grey;
        }
    }  
}

.cn-form-container{
    display: flex;
    flex-direction: column;
}

#cn-close-button {
    border: none;
    align-self: flex-end;
    color: rgba(0,0,0,0.87);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    letter-spacing: .01785714em;
    font-family: $google-sans;
    font-size: .875rem;
    font-weight: 500;
    line-height: 1.25rem;
    height: 36px;
    padding: 8px 24px;
    border-radius: 4px;

    &:hover {
        cursor: pointer;
        background-color: rgba(95,99,104,0.039);
    }

    &:focus {
        outline: none
    }
}

.hide {
    display: none;
}