#header {
    @include flex(none, center);
    top: 0;
    left: 0;
    padding: 5px;
    
}

h1 {
    color: #5f6368;
    font: 400 14px/19px $roboto;
    letter-spacing: normal;
    text-align: center;
    margin: 10px
}
.header-fixed { 
    @include flex(space-between, none);
    position: fixed; 
    top: 0; 
    left: 0;
    width: 100%; 
    height: 4em;
    background-color: $white; 
    z-index: 2; 
    border-bottom: 1px solid $dark-grey;
}

#logout-button {
    cursor: pointer;
    background-color: $white;
    border: 1px solid $dark-grey;
    border-radius: 4px;
    display: inline-block;
    font: 500 14px/16px $roboto;
    letter-spacing: .15px;
    margin: 16px;
    outline: 0;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    white-space: normal;

    &:hover {
        background-color: $light-grey;
    }

    &:active{
        background-color: #dadce0;
    }
}


.header-fixed {
    span {
        @include flex(none, center);
        padding-left: 1em;
    }

    span > * {
        padding: 10px;
    }
}

div {
    h2{
        color: #5f6368;
        opacity: 1;
        font-family: 'Product Sans',Arial,sans-serif;
        font-size: 22px;
        line-height: 24px;
        font-weight: 100;
    }
}

#header-menu-icon {
    @include flex(center, center);
    font-size: 1.4em;
    width: 2em;

    &:hover {
        background-color: rgba(0, 0, 0, 0.123);
        border-radius: 25px;
        box-shadow: inset 0 0 0 1px transparent;
    }
}

