.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border: 1px rgb(218,220,223) solid;
    border-radius: 7px;
    position: fixed;
    top: 24.7%;
    left: 41.3%;
    margin-top: -50px;
    margin-left: -100px;
    height: 500px;
    width: 448px;
    padding: 48px 40px 36px;
    font-family: 'Public Sans', sans-serif;
}


.box form div {
    position: relative;
}

.box form div label {
    position: absolute;
    top: 20px;
    left: 15px;
    color: #999;
    transition: .2s;
    pointer-events: none
}

#guest-input {
    font-family: 'Public Sans', sans-serif;
    color: rgb(90,146,245);
    text-decoration: none;
    border: none;
}

#guest-input:hover {
    cursor: pointer;
}

.box input:focus ~label,
.box input:valid ~label {
    color: rgb(90,146,245);
    top: -7.5px;
    left: 10px;
    font-size: 12px;
    z-index: 0;
    padding: 3px;
    background-color: white;
}

.box input:focus,
.box input:valid {
    border: 2px rgb(90,146,245) solid;
    outline: none;
    z-index: 0;
}


.errors{
    font-family: 'Public Sans', sans-serif;
    color: red;
    list-style: none;
}

.box input {
    border: 1px rgb(218,220,223) solid;
    border-radius: 4px;
    color: #202124;
    font-size: 16px;
    height: 28px;
    margin: 1px 1px 0 1px;
    padding: 13px 15px;
    z-index: 1;
    width: 366px;
    box-shadow: 0;
}



.link,
.link:visited {
    font-family: 'Public Sans', sans-serif;
    color: rgb(90,146,245);
    text-decoration: none;
}

.submit-link-div {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    top: 50px;
}


.next-button {
    color: white;
    background-color:  rgb(90,146,245);
    font-size: 16px;
    border-radius: 4px;
    padding: 10px 25px;
    left: 300px;
    top: 50px;
}

.next-button:hover {
    cursor: pointer;
}

.use-account {
    font-family: 'Noto Sans', sans-serif;
    
    color: #202124;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: .1px;
    line-height: 1.5;
}


.container h2 {
    font-family: 'Noto Sans', sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 1.3333;
}

.google-logo {
    font-family: 'Noto Sans', sans-serif;
    width: 75;
    height: 24;
    font-size: 25px;
}

.gG {
    color: rgb(90,146,245)
}

.oe {
    color: rgb(234,69,53)
}

.o {
    color: rgb(248,188,50)
}

.l {
    color: rgb(103,188,124)
}

@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap')