.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(235,235,235,.7);
  z-index: 99;
  transition: opacity 2000ms ease-in-out;
}

.modal-child {
  margin-top: 125px;
  position: absolute;
  top: 0;
  left: 30%;
 
  animation-name: open-note;
  animation-duration: 500ms;
}