// ::-webkit-scrollbar {
//   width: 10px;
// }

#notes-list {
    @include flex(left, none);
    flex-wrap: wrap;
    align-items: flex-start;
}

#note-index-form-container {
    @include flex(center, center);
    flex-direction: column;
    margin: 5% 10%;
    width: 100%;
    margin-top: 5%;
}

#create-note-form {
    align-self: center;
    color: red;
}

#list-container {
    @include flex(center, none);
    margin-top: 3%;
    margin-left: 1%;
}

.create-note {
    margin: 30px;
}

#main {
    @include flex(center, none);
}


