#note-container {
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 258px;
    margin: 10px;
    list-style: none;
    border: 1px solid   ;
    box-sizing: border-box; 
    border-radius: 8px;
    background-color: #fff475;
    border-color: #fff475;
}

#note-container:hover {
    border-radius: 8px;
    border: 1px solid;
    border-bottom: 2px solid;
    border-color: rgb(193,195,196);
    box-shadow: 0px 0px 3px 1px rgb(226,227,227);
}

#note-title {
    width: 100%;
    border: none;
}

#show-link {
    letter-spacing: 0.00625em;
    font-family: "Google Sans", Roboto, Arial, sans-serif;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.5rem;
    word-wrap: break-word;
    color: #202124;
    text-decoration: none;

}

#show-link:visited {
    color: #202124
}

#note-body {
    width: 110px;
    resize: none;
    min-height: 5em;
	max-height: 50vh;
    width: 100%;
    border: none;
    margin-top: 5px;
    word-wrap: break-word;

    letter-spacing: .01428571em;
    // font-family: Roboto,Arial,sans-serif;
    font-family: "Google Sans", Roboto, Arial, sans-serif;

    font-size: .875rem;
    font-weight: 400;
    line-height: 1.25rem;
}

.delete-button {
    align-self: flex-start;
    font-size: 1.2em;
    z-index: 10;
}

.delete-button-hide {
    visibility: hidden;
}


