.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(235,235,235,.7);
  z-index: 99;
  transition: opacity 2000ms ease-in-out;
}

.modal-child {
  margin-top: 125px;
  position: absolute;
  top: 0;
  left: 30%;
 
  animation-name: open-note;
  animation-duration: 500ms;
}

#ef-div {
    display: flex;
    flex-direction: column;
}

.ef-form-container{
    display: flex;
    flex-direction: column;

    padding: 10px;
    width: 600px;
    margin: 5px;
    list-style: none;
    box-sizing: border-box; 
    border: 1px solid   ;
    box-sizing: border-box; 
    border-radius: 8px;
    box-shadow: 0px 0px 3px 1px rgb(226,227,227);
    background-color: $yellow;
    border-color: $yellow;

    
}

#ef-title-input {
    width: 100%;
    border: none;
    // font-size: 15px;
    letter-spacing: 0.00625em;
    font-family: "Google Sans", Roboto, Arial, sans-serif;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.5rem;
    background-color: inherit;
    padding: 10px 0px 0px 0px;


}

#ef-title-input:focus,
#ef-body-input {
    outline: none
}

#ef-body-input {
    width: 110px;
    resize: none;
    min-height: 5em;
	max-height: 50vh;
    width: 100%;
    border: none;
    padding: 15px 10px 10px 0px;
    background-color: inherit;
    text-overflow: ellipsis;

    letter-spacing: .01428571em;
    font-family: Roboto,Arial,sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.25rem;

}

#ef-body-input::-webkit-scrollbar {
  width: 12px;
}

/* width */
#ef-body-input::-webkit-scrollbar {
  width: 10px;
}

/* Track */
#ef-body-input::-webkit-scrollbar-track {
//   background: $yellow;
  background: inherit;
}

/* Handle */
#ef-body-input::-webkit-scrollbar-thumb {
  background: rgba(0,0,0,.2);
  border-width: 1px 1px 1px 2px;
}

/* Handle on hover */
#ef-body-input::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0,0,0,.2);
    background-clip: padding-box;
    border: solid transparent;
    border-width: 1px 1px 1px 6px;
    min-height: 28px;
    padding: 100px 0 0;
    box-shadow: inset 1px 1px 0 rgba(0,0,0,.1), inset 0 -1px 0 rgba(0,0,0,.07);
}

#ef-close-button {
    border: none;
    align-self: flex-end;
    box-sizing: border-box;
    color: rgba(0,0,0,0.87);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    letter-spacing: .01785714em;
    font-family: 'Google Sans',Roboto,Arial,sans-serif;
    font-size: .875rem;
    font-weight: 500;
    line-height: 1.25rem;
    height: 36px;
    padding: 8px 24px;
    border-radius: 4px;
    background-color: inherit;

}

#ef-close-button:hover {
    cursor: pointer;
    background-color: rgba(95,99,104,0.039);
}

#ef-close-button:focus {
    outline: none
}

.hide {
    display: none;
}

#show-delete-button {
    position: relative;
    bottom: 50px;
    left: 10px;

    font-size: 1.4em;
    cursor: pointer;
    font-size: 1.2em;
    color: #202124;
    height: inherit;
    width: inherit;
    padding: 10px;
    align-self: flex-start;
}

#show-delete-button:hover {
    background-color: rgba(0, 0, 0, 0.123);
    border-radius: 25px;
    box-shadow: inset 0 0 0 1px transparent;
    box-sizing: border-box;

}