#note-container {
    padding: 20px;
    width: 20%;
    margin: 5px;
    list-style: none;
    border: 1px solid   ;
    box-sizing: border-box; 
    border-radius: 8px;
    background-color: #fff475;
    border-color: #fff475;
}