#splash-container {
    @include flex(none, center);
    flex-direction: column;
    width: 100%;

    video {
        width: 100%;
    }
}

#splash-overlay {
    @include flex(space-between, none);
    width: 100%; 
    height: 4em;
    border-bottom: solid $dark-grey 1px;
    margin-top: 10px;

    padding: 5px; 
    font: $product-sans;

    span {
        @include flex(center, center);


        h3 {
            color: #5f6368;
            
            opacity: 1;
            font-family: 'Product Sans',Arial,sans-serif;
            font-size: 22px;
            line-height: 24px;
            font-weight: 100;
        }
    }

    button {
        background-color: $white;
        border: 1px solid $dark-grey;
        border-radius: 4px;
        display: inline-block;
        font: 500 14px/16px $roboto;
        letter-spacing: .15px;
        margin: 16px;
        outline: 0;
        padding: 10px 24px;
        text-align: center;
        text-decoration: none;
        white-space: normal;
        cursor: pointer;
        
        &:hover {
            background-color: $light-grey;
        }
        
        &:active{
            background-color: #dadce0;
        }
        
    }

}

