//Colors
$yellow: #fff475;
$blue: #a7ffeb;
$red: #f28b82;
$green: #ccff90;
$purple: #d7aefb;
$white: #FFF;
$light-grey: rgb(247,248,248);
$dark-grey: #dadce0;
$black: black;

$login-grey: rgb(218,220,223);
$login-blue: rgb(90,146,245);

//Fonts
$roboto: Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
$product-sans: 'Product Sans',Arial,sans-serif;
$google-sans: "Google Sans", Roboto, Arial, sans-serif;
$public-sans: 'Public Sans', sans-serif;
$noto-sans: 'Noto Sans', sans-serif